.grid {
  display: grid;
  grid-gap: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  grid-template-columns: repeat(3, [col] 33%);
  grid-template-rows: repeat(5, [row] auto);
  background-color: cyan;
  margin-top: 0vh;
  /* margin-bottom: 1em; */
}
.headerOne {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.headerTwo {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 2;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.headerThree {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 3;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.Two {
  color: #ffa500;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: col;
  grid-row: row 2;
  background-image: url(images/atlantis.jpg);
  background-size: cover;
  background-position: center;
}
.Three {
  padding: 5px;
  grid-column: col;
  grid-row: row 3 / span 2;
  background-color: white;
}
.Four {
  padding: 5px;
  grid-column: col 2;
  grid-row: row 2;
  background-color: white;
}
.Five {
  color: #ffa500;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: 2;
  grid-row: 3;
  background-image: url(images/starTrekTNG2.jpg);
  background-size: cover;
  background-position: center;
}
.Six {
  padding: 5px;
  grid-column: 2;
  grid-row: 4;
  background-color: white;
}
.Seven {
  padding: 5px;
  grid-column: col 3;
  grid-row: row 2 / span 2;
  background-color: white;
}
.Eight {
  color: #ffa500;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: col 3;
  grid-row: row 4;
  background-image: url(images/voyager3.jpg);
  background-size: cover;
  background-position: center;
}
.navOne {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.navTwo {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 2;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.navThree {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 3;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}

.navOne:hover {
  color: #00ff00;
  background-color: grey;
}
.navTwo:hover {
  color: #00ff00;
  background-color: grey;
}
.navThree:hover {
  color: #00ff00;
  background-color: grey;
}

.SGATrailer {
  text-align: center;
  margin-top: 33%;
  opacity: 0;
}
.Two:hover .SGATrailer {
  opacity: 1;
}
.TNGTrailer {
  text-align: center;
  margin-top: 33%;
  opacity: 0;
}
.Five:hover .TNGTrailer {
  opacity: 1;
}
.VOYTrailer {
  text-align: center;
  margin-top: 33%;
  opacity: 0;
}
.Eight:hover .VOYTrailer {
  opacity: 1;
}
.links1 {
  color: #00ff00;
}
