.grid2 {
  display: grid;
  grid-gap: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  grid-template-columns: repeat(3, [col] 33%);
  grid-template-rows: repeat(5, [row] auto);
  background-color: cyan;
  margin-top: 0vh;
  /* margin-bottom: 1em; */
}
.headerOne {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.headerTwo {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 2;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.headerThree {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 3;
  grid-row: row;
  color: black;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.Two2 {
  padding: 5px;
  grid-column: col;
  grid-row: row 2 / span 2;
  background-color: white;
}
.Three2 {
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: col;
  grid-row: row 4;
  background-image: url(images/loveDeathRobots.png);
  background-size: cover;
  background-position: center;
}

.Four2 {
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: col 2;
  grid-row: row 2;
  background-image: url(images/blackMirror.jpg);
  background-size: cover;
  background-position: center;
}
.Five2 {
  padding: 5px;
  grid-column: 2;
  grid-row: 3 / span 2;
  background-color: white;
}

.Six2 {
  padding: 5px;
  grid-column: col 3;
  grid-row: row 2 / span 2;
  background-color: white;
}

.Seven2 {
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  height: 31vh;
  grid-column: col 3;
  grid-row: row 4;
  background-image: url(images/electricDreams.jpg);
  background-size: cover;
  background-position: center;
}

.navOne2 {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.navTwo2 {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 2;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}
.navThree2 {
  font-family: Raleway, sans-serif;
  height: 5.5vh;
  grid-column: col 3;
  grid-row: row 5;
  text-align: center;
  padding: 0px;
  background-color: white;
  font-size: 1.25vh;
  padding-bottom: 0px;
}

.navOne2:hover {
  color: #00ff00;
  background-color: grey;
}
.navTwo2:hover {
  color: #00ff00;
  background-color: grey;
}
.navThree2:hover {
  color: #00ff00;
  background-color: grey;
}

.LDRTrailer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.Three2:hover .LDRTrailer {
  opacity: 1;
}
.BMTrailer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.Four2:hover .BMTrailer {
  opacity: 1;
}
.EDTrailer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.Seven2:hover .EDTrailer {
  opacity: 1;
}
.links2 {
  color: #00ff00;
}
